
@keyframes laluot{
    from{-webkit-mask-position:150% 0px;mask-position:150% 0px}
    100%{-webkit-mask-position:0% 0px;mask-position:0% 0px}
  }
  @keyframes wiggle {
    0% {transform: translate(-50%, 0px) scale(1);}
    25% {transform: translate(-50.2%, 8px);}
    50% {transform: translate(-49.8%, -8px);}
    75% {transform: translate(-50.2%, 8px);}
    100% {transform: translate(-50%, 0px);}
  }
.wiggleef{
  animation-name: wiggle;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}